@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

.box {
  background-color: whitesmoke;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

button {
  background-color: royalblue;
  margin: 0 5px;
  border: none;
  color: white;
  width: 70px;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
}